.SellingPriceCalculatorComponent {
    margin: auto;
    .form-control {
        padding: 11px;
    }
    .form-select {
        padding: 11px !important;
    }
    .subvalues {
        color: black !important;
        font-size: 14px !important;
        margin: 0px 4px !important;
        // margin-bottom: 10px !important;
    }
    .cal_row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .cal_col {
        width: 55% !important;
    }
    .cal_col_off,
    .cal_col_each {
        padding: 0px 10px;
        width: 5% !important;
        text-align: center;
    }
    .Calculator_container {
        // .table {
        //     width: 50% !important;
        // }
        h6 {
            margin-top: 30px;
            font-weight: bold;
        }
        h5 {
            margin: 10px 0px !important;
        }
    }
    .cal_row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .cal_col {
        width: 40%;
    }
    .cal_col_off,
    .cal_col_each {
        padding: 0px 10px;
        width: 10%;
    }
    h5 {
        color: black;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        /* 131.25% */
    }
    p {
        color: black;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        /* 141.667% */
    }
    .profit_main {
        li {
            color: black;
            font-style: normal;
            font-weight: 500;
            line-height: 34px;
            /* 141.667% */
        }
    }
    @media (max-width:767px) {
        width: 100% !important;
        .table {
            width: auto !important;
        }
        h2 {
            margin: 20px 0px;
            text-align: center;
            font-size: 30px;
        }
        .add_placeholder_doller {
            left: 73% !important;
        }
        h5 {
            margin: 20px 0px;
            font-size: 30px !important;
        }
        p {
            font-size: 20px !important;
            line-height: 40px !important;
        }
    }
}