.profile {
  // margin: 6rem 0px;
  // padding: 20px;
  min-height: 100dvh;
  place-content: center;
  .profiletop {
    display: flex;
    place-items: center;
    margin: 10px 0px;
    h2 {
      margin: 10px;
    }
  }
  .form-control {
    width: 100%;
  }
  .custom_file_upload input[type="file"] {
    display: none !important;
  }
  h6 {
    color: rgba(51, 51, 51, 0.6);
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .profile_inner {
    border-radius: 8px;
    background: rgba(238, 35, 37, 0.1);
    padding: 20px;
  }
  .Picture {
    padding: 20px;
    border-radius: 50px;
  }
  .section1 {
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }
  .section2 {
    display: flex;
    justify-content: space-between;
    .btn_tab {
      width: 20%;
    }
    .Form_ctm {
      margin: 30px 0px;
      width: 70%;
    }
    .line {
      width: 1px;
      background-color: #696969;
      border: 2px solid #696969;
    }
    .btn_theme_div {
      border-radius: 8px;
      // background: #174F78;
      // background: transparent !important;
      box-shadow: none !important;
      color: black;
      display: block;
      width: 100%;
      margin: 20px 0px;
      border: none !important;
      font-weight: bolder;
    }
    .buttons_passwordChange {
      display: flex;
      // margin: 100px 0px;
      gap: 10px;
    }
    .buttonUpdate,
    .buttonCancel {
      width: 30%;
    }
    .ChangePassword {
      width: 70%;
    }
  }
  .input_container {
    position: relative;
    span {
      position: absolute;
      right: 10px;
      top: 5px;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
    }
  }
  .error_message {
    padding-top: 5px;
    color: red !important;
  }
}
@media (max-width: 767px) {
  .profile {
    margin: 6rem 0px;
  }
  .section2 {
    display: block !important;
    .btn_tab {
      width: 100% !important;
    }
    .line {
      display: none !important;
    }
    .Form_ctm {
      width: 100% !important;
    }
    .button_theme {
      width: 100% !important;
    }
  }
}
