.FooterSection {
  background: #0e1122;
  color: white;
  padding: 20px 0px;
  .footer_inner_desktop {
    align-items: center;
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
  .icon {
    margin: 0px 10px;
    color: white !important;
  }
  .footer_inner_mobile {
    .sec1 {
      margin: 10px 0px;
    }
    p {
      margin: 0;
      font-size: 15px;
    }
  }

  @media (max-width: 767px) {
    .container {
      padding: 0 !important;
    }
    .footer_inner_desktop {
      display: block;
    }
  }
}
