.LeadershipProposal {
  // margin: 0px 40px;
  // margin-top: 60px !important;

  .calculator_main_container {
    width: 80% !important;
    margin: 30px auto;
  }
  .Add_Calculation {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    .button_theme {
      margin: 20px;
      // width: 20%;
    }
  }
  .heading {
    text-align: center !important;
    margin-top: 0 !important;
    margin: 5px 0px !important;
  }
  .Row_1 {
    display: flex !important;
    width: 100%;
    align-self: center !important;
    .Col_1 {
      font-size: large !important;
      padding: 4px;
      align-self: center !important;
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
      width: 100%;
    }
  }
  .blank_input {
    background: white;
    padding: 0px 4px;
    border-radius: 6px;
    margin: 8px 0px !important;
    align-self: center !important;
    // width: inherit !important;
  }
  .Calculator_container {
    // .table {
    //     width: 50% !important;
    // }
    h6 {
      margin-top: 30px;
      font-weight: bold;
    }
    h5 {
      margin: 10px 0px !important;
    }
  }
  font-size: 15px !important;
  .section1button {
    text-align: right !important;
    margin: 20px 0px;
    .button_theme {
      width: 20%;
    }
  }
  p {
    margin: 0 !important;
  }
  .hide-editable {
    display: none;
  }
  .editable-value {
    border: 2px solid blue;
    padding: 2px;
    /* Optional: Add padding to adjust spacing */
  }
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  @media print {
    @page {
      // margin: 20mm;
      border: 1px solid black;
    }
    .printable-content {
      width: 100%;
      height: 100%;
      margin: 0;
      // padding: 10 px;
      box-sizing: border-box;
      border: 4px solid black;
    }
    .page {
      width: 100%;
      height: 100%;
      // margin: 24.5mm;
      padding: 24.5mm;
      box-sizing: border-box;
      page-break-after: always;
    }
    .section1button,
    .Calculator_data_include_for_propodal {
      display: none !important;
    }
    h1 {
      page-break-after: avoid;
    }
  }
  .top {
    position: absolute;
    top: 0;
    padding: 30px;
    width: 100%;
  }
  .list-style-none {
    li {
      list-style-type: none;
    }
  }
  h2 {
    color: #000080;
    font-weight: bolder !important;
    text-align: center;
  }
  h3 {
    color: #000080 !important;
    font-weight: bolder !important;
  }
  h5 {
    color: #000080 !important;
    font-weight: bolder !important;
  }
  h4 {
    // color: #000080 !important;
    font-weight: bolder !important;
    text-align: center;
  }
  .heading_Top {
    width: fit-content;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: center;
    color: #000080;
    padding: 20px;
    // padding: 5px;
    margin: auto;
  }
  //     h1 {
  //         border: 2px solid #000080;
  //   outline: 1px solid #000080;
  //   display: inline-block;
  //   padding: 10px;
  //   outline-offset: 2px;
  //   margin: 20px;
  //   background-color: white;
  //         margin: 10px;
  //         padding: 10px;
  //         font-weight: bold;
  //         // font-size: 60px;
  //     }
  .textimage {
    img {
      width: 100%;
      height: fit-content;
    }
    position: relative;
    // backdrop-filter: blur(20px);
    background-image: linear-gradient(
        92deg,
        #65c8f0 10.59%,
        rgba(13, 7, 10, 0) 100%
      ),
      url("../../assets/Picture1.jpg");
    // width: 100vw;
    // height: 90dvh;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    margin: auto;
    background-position: center;
    background-position-x: center;
    background-size: cover;
  }
  .left {
    text-align: left;
    padding: 20px;
    h3 {
      font-weight: 700;
      margin: 60px 0px;
      text-align: left;
      // font-size: 40px;
      color: #5763b1;
    }
    h6 {
      font-size: 25px;
      color: white;
      // font-style: italic;
    }
    h4 {
      font-weight: 700;
      // font-style: italic;
      text-align: left;
      // font-size: 30px;
      color: #333399;
    }
    .white {
      font-weight: 700;
      color: white !important;
    }
  }
  .right {
    margin-top: 200px;
    padding: 20px;
    text-align-last: right !important;
    text-align: right;
    color: white !important;
    // font-style: italic;
    h4 {
      // font-size: 20px;
      font-weight: bold;
      color: white !important;
    }
    h3 {
      // font-size: 25px;
      text-align: right;
      font-weight: bold;
      color: white !important;
    }
  }
}
.leader_button {
  text-align: right !important;
  .button_theme {
    width: 20%;
  }
}
.leader {
  margin: 6rem 0;
}
