.ProposalNew {
  margin: 6rem 0px;
  .proposal_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    /* Adjust this height as needed */
    overflow: hidden;
  }
  .pagination_custom {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
  }
  .paginationButtonActive {
    background-color: red;
    color: white;
  }
  // .sidebar{
  //     width: 30%;
  // }
  .category_list {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    margin-top: 10px;
  }
  .selectedCategory {
    background-color: #c8232c;
    color: #ffffff;
  }
  .category_item {
    border-radius: 8px;
    margin-top: 8px;
    // color: #C8232C;
    font-weight: bold;
  }
  .sidebar {
    flex: 0 0 auto;
    width: 20%;
    overflow-y: hidden;
    padding: 20px;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 11px;
    border: 1px solid #fff;
    background: #0e1122;
    box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.1);
  }
  .category_list {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    margin-top: 10px;
  }
  .content {
    width: 75%;
    height: 100vh;
    overflow-x: hidden;
  }
  .content {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .content::-webkit-scrollbar {
    display: none;
  }
  @media (min-width: 767px) {
    .filter_icon {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .heading {
      margin: 0px !important;
    }
    .cardContainer {
      margin-bottom: 0px !important;
    }
    .sidebar {
      display: none;
    }
    .filter_icon {
      text-align: left;
      font-size: 20px;
      color: #c8232c;
    }
    .content {
      width: 100%;
      margin: 1rem auto;
    }
  }
}
