.APTSupplementProgram {
    .upto_one {
        text-align: center !important;
    }
}
.MastermindGroup,
.Coaching,
.TrainingSessionhours,
.KeynoteSpeaker,
.TrainingSessionhalfday {
    h5 {
        font-weight: bold;
        text-align: center;
    }
    margin: auto;
    .form-control {
        padding: 6px !important;
        margin: 5px !important;
        background:
            rgba(238, 35, 37, 0.10) !important;
        width: auto !important;
    }
    .blank_input {
        background: white;
        padding: 0px 4px;
        border-radius: 6px;
        margin: 8px 0px !important;
        align-self: center !important;
    }
    .Row_1 {
        display: flex !important;
        width: 100%;
        align-self: center !important;
        .Col_1 {
            padding: 4px;
            align-self: center !important;
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
            width: 100%;
        }
    }
    .profit_main {
        li {
            color: #999;
            font-style: normal;
            font-weight: 500;
            line-height: 34px;
            /* 141.667% */
        }
    }
}