.apt-card {
  box-shadow: var(--card-shadow);
  border-radius: 0.5rem;
  overflow: hidden;

  &:hover {
    box-shadow: var(--card-shadow-hover);
  }
}

.apt-card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.apt-card-title {
  height: 52px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.apt-view-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apt-download-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.apt-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.apt-subscribe-link {
  text-decoration: none;
}
